{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <div style="background: #09c; color: white; padding: 10px; border-radius: 20px; text-align: center; margin-bottom: 30px;">
        <div class="display-4" style="font-size: 30pt; margin: 0 0 20px 0">Notre blog</div>
        <a style="text-decoration: none; background: white; padding: 5px 20px 5px 20px; border-radius: 5px; color: black" href="{{ path('app_blog') }}">Blog</a>
        <a style="text-decoration: none; background: white; padding: 5px 20px 5px 20px; border-radius: 5px; color: black" href="{{ path('app_produits') }}">Produits</a>
        <a style="text-decoration: none; background: white; padding: 5px 20px 5px 20px; border-radius: 5px; color: black" href="{{ path('app_login') }}">Se connecter</a>
    </div>
    <div style="display: flex; gap: 30px;">
    {% for poste in postes %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ vich_uploader_asset(poste) }}" alt="{{ poste.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ poste.name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="{{ path('app_postes_detail', {id:poste.id, slug:poste.slug}) }}" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
